html, body, h1, h2, ul, li, h3, a, p, div, input, form,
label, button, main, header {
  background: transparent;
  border:  0;
  color: inherit;
  margin:  0;
  outline: 0;
  padding: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  box-shadow: none;
  vertical-align: inherit;
  text-decoration: none;
  cursor: default;
}

ul {
  list-style: none;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #eee;
  font-family: 'Playfair Display', sans-serif;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

input {
  cursor: text;
}

button {
  cursor: pointer;
}

.group:before {
  clear: both;
  content: "";
  display: block;
}


main {
  display: block;
}

.header {
  display: block;
  height: 75px;
  background-color: white;
  border-bottom: 2px solid #ccc;
  position: relative;
  margin-bottom: 35px;
}

.header-company {
  font-size: 32px;
  position: absolute;
  transform: translateY(-50%) translateX(-50%);;
  top: 50%;
  color: purple;
  left: 50%;
  font-weight: bold;
}

.employee-indices {
  height: auto;
  background: #F7F7F7;
  display: block;
  position: relative;
  width: 80%;
  max-width: 895px;
  margin: 0px auto 50px auto;
  padding: 15px;
  border-radius: 10px;
  min-height: 376px;
}

.employee {
  float: left;
  margin-right: 25px;
  margin-bottom: 25px;
}

.employee:last-child {
  margin-right: 0;
}

.employees {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.employee-image {
  display: block;
  height: 125px;
  width: 125px;
  border: 3px solid #ccc;
  overflow: hidden;
  position: relative;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(45deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(0deg);
  }
}


.employee-image:hover {
  animation-duration: 3s;
  animation-name: rotation;
  animation-iteration-count: infinite;
}

screen {
  z-index: 1;
  display: block;
  height: 100%;
  position: absolute;
  top: 0px;
  width: 100%;
}

screen:hover {
  background-color: rgba(128, 0, 128, 0.2);
}

.employees-blurb {
  display: block;
  width: 50%;
  color: #464646;
  margin: 0 auto 35px auto;
  text-align: center;
}

.employee-job {
  font-style: italic;
}

.employee-job.dragging {
  color: transparent;
}

.employee-job-container.is-over {
  border: 1px solid purple;
}

.employee-job-container.can-drop {
  border: 1px solid gold;
}

.employee-job-container {
  border: 1px solid transparent;
}

.employee-name {
  font-weight: bold;
}

.employee-job-container:hover {
  border: 1px solid purple;
}

.employee-attributes {
  font-size: 12px;
  text-align: center;
}

i.spinner {
  font-size: 6em;
  color: purple;
  text-align: center;
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  margin: auto;
}
