html, body, h1, h2, ul, li, h3, a, p, div, input, form,
label, button, main, header {
  background: transparent;
  border:  0;
  color: inherit;
  margin:  0;
  outline: 0;
  padding: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  box-shadow: none;
  vertical-align: inherit;
  text-decoration: none;
  cursor: default;
}

ul {
  list-style: none;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #eee;
  font-family: 'Playfair Display', sans-serif;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

input {
  cursor: text;
}

button {
  cursor: pointer;
}

.group:before {
  clear: both;
  content: "";
  display: block;
}


main {
  display: block;
}

.header {
  display: block;
  height: 75px;
  background-color: white;
  border-bottom: 2px solid #ccc;
  position: relative;
}

.header-company {
  font-size: 32px;
  position: absolute;
  transform: translateY(-50%) translateX(-50%);;
  top: 50%;
  color: purple;
  left: 50%;
  font-weight: bold;
}

.employee-indices {
  height: auto;
  display: block;
  width: 80%;
  margin: 50px auto;
}

.employee {
  float: left;
  margin-right: 25px;
  margin-bottom: 25px;
}

.employee:last-child {
  margin-right: 0;
}


.employees {
  margin-bottom: 25px;
  display: block;
  width: 75%;
  margin: auto;
}

.employee-image {
  display: block;
  height: 125px;
  width: 125px;
  border: 3px solid #ccc;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

screen {
  z-index: 1;
  display: block;
  height: 100%;
  position: absolute;
  top: 0px;
  width: 100%;
}

screen:hover {
  background-color: rgba(128, 0, 128, 0.2);
}

.employee-attributes {
  font-size: 12px;
  text-align: center;
}
